<% layout('layouts/boilerplate')%>
    <!-- <h1>Utilitats de gestió</h1> -->
    <div>
        <h2>Ubicacions</h2>
        <p class="text-primary"><a href="/unitats">Gestiona Unitats</a> -
        <a href="/zonas">Gestiona Zones</a> -
        <a href="/plantas">Gestiona Plantes</a> -
        <a href="/areas">Gestiona Àrees</a></p>
    </div>

    <div>
        <h2>Comptadors</h2>
        <p class="text-primary"><a href="/comptadors">Gestiona Comptadors</a>
        
    </div>