<% layout('layouts/boilerplate')%>

    <form action="/users" method="POST"  class="validated-form">
        <div class="mb-3">
            <label for="username">Responsable</label>
            <input class="form-control" type="text" id="username" name="user[username]" required>
        </div>
        <div class="mb-3">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" name="user[email]" required>
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input class="form-control" type="text" id="password" name="user[password]" required>
        </div>
<div class="mb-3">
        <button>Afegeix Usuari</button>
    </div>
    </form>
    <a href="/users">Tots els Usuaris</a>
